#title{
    margin-left: 40px;
}
.binaryTrees{
    margin-left: 40px;
}
#viewAllTrees{
    margin-left: 40px;
    margin-top: 24px;
}
#falseCase{
    margin-top: 40px;
}
#trueCase{
    margin-top: 40px;
}